internal/
third_party/

.rosinstall
.rosinstall.bak

hw2/.vscode/
hw2/src/.vscode/

intro_tutorial/
rviz_visual_tools/

geometric_shapes/
moveit/
moveit_msgs/
moveit_tutorials/
moveit_visual_tools/
panda_moveit_config/

homework1_test/test/*.txt

compile_commands_all.json

compile_commands_slow.json

regex.txt

hw3/src/.vscode/c_cpp_properties.json

hw3/src/.vscode/settings.json
